/* PropertyModal.css */
.property-modal .modal-content {
    background-color: #71b1c5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: right;
    direction: rtl;
    color:white;
  }
  
  .property-modal .modal-header {
    border-bottom: 1px solid #dee2e6;
  }
  
  .property-modal .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; /* Aligns the title to the right */
    width: 100%;
  }
  
  .property-modal .modal-body {
    text-align: right; /* Aligns the body text to the right */
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .property-modal .modal-footer {
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between; /* Spaces the buttons */
  }
  
  .property-modal .btn {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 100px;
  }
  
  .property-modal .btn-primary {
    background-color: #14e02b;
    border-color: #14e02b;
  }
  
  .property-modal .btn-secondary {
    background-color: #e80f0f;
    border-color: #e80f0f;
  }
  